

@media (min-display-width: 920px)
{
  /* PC */
  .PC
  {
    display: block;
  }
  .MB
  {
    display: none;
  }
  body
  {
    background: #afdafc;
  }

  .main_tt
  {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0%;
    height:530.4px;
  }



  .head
  {
    position: absolute;
    height: 51px;
    top: 0%;
    left: 1.5%;
    width: 96.5%
  }
  #meny
  {
    position: absolute;
    float: right;
    top: 30%;
    height: 70%;
    width: 129.2px;
    right: 0px;
    background: #f1f1f1;
    border: 1.34px groove #000099;
    font-weight: bold;
    border-radius: 5.44px;
    font-size: 68%;
  }
  #orig
  {
    position: absolute;
    float: right;
    top: 30%;
    height: 70%;
    width: 129.2px;
    right: 142.8px;
    background: #f1f1f1;
    border: 1.34px groove #000099;
    font-weight: bold;
    border-radius: 5.44px;
    font-size: 68%;
  }
  #nameList
  {
    position: absolute;
    top: 0%;
    color: #000099;
    background: #f1f1f1;
    border: 1.34px groove #000099;
    border-radius: 5.44px;
    padding: 0.5%;
    font-size: 100%;
  }



  .main
  {
    position: absolute;
    width: 96.5%;
    top: 57.8px;
    height: 421.6px;
    right: 2%;
    left: 1.5%;
  }

  #tables_div
  {
    position: absolute;
    border: 1.34px groove #000099;
    right: 289px;
    left: 0px;
    background: #5000ff;
    padding: 0.1%;
    border-radius: 5.44px;
  }

  #F_table
  {
    position: relative;
    left: 0.1%;
    width: 99.8%;
    height: 99.8%;
    top: 0.1%;
  }

  #PUTIN_id
  {
    position: absolute;
    left: 0.3%;
    width: 99.4%;
    height: 99%;
    top: 0.5%;
  }

  td
  {
    border: 0.34px groove #000099;
  }

  #giv_inform
  {
    position: absolute;
    float: right;
    border: 1.34px ridge #000099;
    border-radius: 5.44px;
    background: #f1f1f1;
    padding: 10.5px;
    width: 251.6px;
    right: 0px;
    height: 136px;
    font-size: 68%;
  }

  #res
  {
    border: 1.34px groove #000099;
    font-weight: bold;
    border-radius: 5.44px;
    background: #afdafc;
    width: 124px;
  }

  #esc
  {
    border: 1.34px groove #000099;
    font-weight: bold;
    border-radius: 5.44px;
    background: #afdafc;
    width: 124px;
  }

  .info_many
  {
    position: absolute;
    float: right;
    border: 1.35px ridge #000099;
    border-radius: 5.44px;
    background: #f1f1f1;
    width: 204px;
    padding: 34px;
    height: 170px;
    right: 0px;
    top: 163.2px;
  }



  .git_move
  {
    display: none;
  }



  .footer
  {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 47.6px;
    width: 99%;
    background: #eaeaea;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
    border-top: 1.34px groove #000099;
  }

  #PODAR
  {
    position: absolute;
    width: 90%;
    left: 4.5%;
    background: #fcfcfc;
    border-bottom: 0.68px groove #000099;
    font-size: 75%;
  }

  #adminName
  {
    position: absolute;
    left: 4.5%;
    bottom: 0px;
    padding: 1px;
    font-size: 75%;
  }

  #crafterName
  {
    position: absolute;
    right: 5.3%;
    bottom: 0px;
    padding: 1px;
    font-size: 75%;
  }
}







@media (max-display-width: 920px)
{
  /* mobile */
  .MB
  {
    display: block;
  }
  .PC
  {
    display: none;
  }

  #PC_version
  {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}
